/.idea
/.mvn

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
oauth-resource-one/.mvn/*
oauth-resource-one/mvnw
oauth-resource-one/mvnw.cmd

oauth-resource-two/.mvn/*
oauth-resource-two/mvnw
oauth-resource-two/mvnw.cmd

oauth-zuul-gateway/.mvn/*
oauth-zuul-gateway-two/mvnw
oauth-zuul-gateway/mvnw.cmd

oauth-authorisation-jwt/.mvn/*
oauth-authorisation-jwt/mvnw
oauth-authorisation-jwt/mvnw.cmd